<div class="container">
<header class="jumbotron">
<div class="container">
<h1>Welcome my campgrounds</h1>
<p>jhgfhsdcvjhbhdg cvghfd vfgvdhfvg</p>
<p>
     <a class="btn btn-primary btn-large" href="/campgrounds/new">Add</a>
</p>
</div>

</header>


<% campgrounds.forEach(function(campgrounds){ %>
    <div>
      <h4><%= campgrounds.name %></h4>
      <img src="<%= campgrounds.image %> ">
    </div>


<% });  %>
</div>
