<h1>Create a New campgrounds</h1>

<form action="/campgrounds" method="post">
 <input type="text" name="name" placeholder="name">
 <input type="text" name="image" placeholder="image url">
 <button class="btn btn-danger btn-large">SUBMIT</button>
</form>
